<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <title>Atlus Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="/" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
	<!-- Our theme! -->
	<link rel="stylesheet" href="css/theme.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Atlus Games</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="solutions">Soluciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products">Products</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="clients">Clientes</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="partners">Socios</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="resources">Recursos</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="about">Acerca de</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div>
        <h1>Atlus Games and Others - Recursos</h1>
			<h3>Eventos</h3>
			<ul style="list-style-type:square">
				<h3>SMT : Deep Strange Journey - Presentacion en TSG2017</h3>
				<ul style="list-style-type:circle">
					<li>23/9/2017</li>
					<li>Presentacion en el Tokyo Game Show de Shin Megami Tensei - Deep Strange Journey (proximo a salir para Nintendo 3DS)</li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jlSHEf1ufgY" frameborder="0" allowfullscreen></iframe>
				</ul>
				<br>
				<h3>Persona 5 - "Let Us Start the Game" Full Gameplay Stream</h3>
				<ul style="list-style-type:circle">
					<li>29/11/2016</li>
					<li>Registro de la transmision en vivo de las primeras horas del juego</li>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/BBpwAdUBy5c" frameborder="0" allowfullscreen></iframe>
				</ul>
				
				
			</ul>
			<h3>Informacion adicional</h3>
			<a href="dataset" title="Descargar" download="dataset">Descargar</a>
      </div>
    </main>
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
